#cluster-map {
  width: 100%;
  height: 500px;
}

#map {
  width: 100%;
  height: 300px;
}

.img-11 {
  height: 220px;
}

.logo1 {
  color: rgb(255, 200, 0);
}

.aa {
  background-color: rgb(245, 179, 0);
}
